In [14]:
import pandas as pd
import numpy as np

# 1. Carga del dataset
df = pd.read_csv('Top_1000_IMDb_movies_New_version.csv')
print('  1.1 Primeras 5 filas')
print(df.head(5), '\n')

  1.1 Primeras 5 filas
   Unnamed: 0                Movie Name Year of Release  Watch Time  \
0           0  The Shawshank Redemption            1994         142
1           1             The Godfather            1972         175
2           2           The Dark Knight            2008         152
3           3          Schindler's List            1993         195
4           4              12 Angry Men            1957          96

   Movie Rating  Metascore of movie   Gross      Votes  \
0           9.3                82.0   28.34  27,77,378
1           9.2               100.0  134.97  19,33,588
2           9.0                84.0  534.86  27,54,087
3           9.0                95.0    96.9  13,97,886
4           9.0                97.0    4.36   8,24,211

                                         Description
0  Over the course of several years, two convicts...
1  Don Vito Corleone, head of a mafia family, dec...
2  When the menace known as the Joker wreaks havo...
3  In German-occupied Poland during World War II,...
4  The jury in a New York City murder trial is fr...

In [15]:
print('  1.2 .info() resumen')
print(df.info(), '\n')

  1.2 .info() resumen
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1000 non-null   int64
 1   Movie Name          1000 non-null   object
 2   Year of Release     1000 non-null   object
 3   Watch Time          1000 non-null   int64
 4   Movie Rating        1000 non-null   float64
 5   Metascore of movie  845 non-null    float64
 6   Gross               838 non-null    object
 7   Votes               1000 non-null   object
 8   Description         1000 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB
None

In [16]:
print('  1.3 .describe()')
print(df.describe(include='all'), '\n')

  1.3 .describe()
         Unnamed: 0  Movie Name Year of Release   Watch Time  Movie Rating  \
count   1000.000000        1000            1000  1000.000000   1000.000000
unique          NaN         997             123          NaN           NaN
top             NaN  Drishyam 2            2014          NaN           NaN
freq            NaN           2              28          NaN           NaN
mean     499.500000         NaN             NaN   124.253000      7.970200
std      288.819436         NaN             NaN    28.800355      0.275732
min        0.000000         NaN             NaN    45.000000      7.600000
25%      249.750000         NaN             NaN   103.000000      7.800000
50%      499.500000         NaN             NaN   120.000000      7.900000
75%      749.250000         NaN             NaN   139.000000      8.100000
max      999.000000         NaN             NaN   321.000000      9.300000

        Metascore of movie Gross   Votes  \
count           845.000000   838    1000
unique                 NaN   729     997
top                    NaN  0.01  67,190
freq                   NaN     8       2
mean             79.011834   NaN     NaN
std              11.973800   NaN     NaN
min              28.000000   NaN     NaN
25%              71.000000   NaN     NaN
50%              80.000000   NaN     NaN
75%              88.000000   NaN     NaN
max             100.000000   NaN     NaN

                                              Description
count                                                1000
unique                                               1000
top     Over the course of several years, two convicts...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

In [17]:
# 2. Limpieza y estructura:
print('  2.1 Valores nulos por columna')
print(df.isnull().sum(), '\n')

  2.1 Valores nulos por columna
Unnamed: 0              0
Movie Name              0
Year of Release         0
Watch Time              0
Movie Rating            0
Metascore of movie    155
Gross                 162
Votes                   0
Description             0
dtype: int64

In [18]:
print('  2.2 Tipos de datos actualizados')
df.columns = [col.strip() for col in df.columns]
df['Votes'] = df['Votes'].astype(str).str.replace(',', '')
df['Votes'] = pd.to_numeric(df['Votes'], errors='coerce')
df['Year of Release'] = pd.to_numeric(df['Year of Release'], errors='coerce')
df['Watch Time'] = pd.to_numeric(df['Watch Time'], errors='coerce')
df['Movie Rating'] = pd.to_numeric(df['Movie Rating'], errors='coerce')
# Limpiar filas numericas
df = df.dropna(subset=['Year of Release', 'Watch Time', 'Movie Rating', 'Votes'])
print('Tipos de datos actualizados : \n',df.dtypes)
print('Datos actualizados : \n',df)

  2.2 Tipos de datos actualizados
Tipos de datos actualizados :
 Unnamed: 0              int64
Movie Name             object
Year of Release       float64
Watch Time              int64
Movie Rating          float64
Metascore of movie    float64
Gross                  object
Votes                   int64
Description            object
dtype: object
Datos actualizados :
      Unnamed: 0                       Movie Name  Year of Release  Watch Time  \
0             0         The Shawshank Redemption           1994.0         142
1             1                    The Godfather           1972.0         175
2             2                  The Dark Knight           2008.0         152
3             3                 Schindler's List           1993.0         195
4             4                     12 Angry Men           1957.0          96
..          ...                              ...              ...         ...
995         995                        Philomena           2013.0          98
996         996  Un long dimanche de fiançailles           2004.0         133
997         997                            Shine           1996.0         105
998         998                The Invisible Man           1933.0          71
999         999                        Celda 211           2009.0         113

     Movie Rating  Metascore of movie   Gross    Votes  \
0             9.3                82.0   28.34  2777378
1             9.2               100.0  134.97  1933588
2             9.0                84.0  534.86  2754087
3             9.0                95.0    96.9  1397886
4             9.0                97.0    4.36   824211
..            ...                 ...     ...      ...
995           7.6                77.0   37.71   102336
996           7.6                76.0    6.17    75004
997           7.6                87.0   35.81    55589
998           7.6                87.0     NaN    37822
999           7.6                 NaN     NaN    69464

                                           Description
0    Over the course of several years, two convicts...
1    Don Vito Corleone, head of a mafia family, dec...
2    When the menace known as the Joker wreaks havo...
3    In German-occupied Poland during World War II,...
4    The jury in a New York City murder trial is fr...
..                                                 ...
995  A world-weary political journalist picks up th...
996  Tells the story of a young woman's relentless ...
997  Pianist David Helfgott, driven by his father a...
998  A scientist finds a way of becoming invisible,...
999  The story of two men on different sides of a p...

[965 rows x 9 columns]

In [19]:
#3. Análisis descriptivo con NumPy
print('  3.1 Estadísticas Movie Rating:')
print('    Media:', np.round(np.mean(df['Movie Rating']),2))
print('    Mediana:', np.round(np.median(df['Movie Rating']),2))
print('    Min:', np.round(np.min(df['Movie Rating']),2))
print('    Max:', np.round(np.max(df['Movie Rating']),2))
print('    Rango:', np.round(np.ptp(df['Movie Rating']),2))

  3.1 Estadísticas Movie Rating:
    Media: 7.97
    Mediana: 7.9
    Min: 7.6
    Max: 9.3
    Rango: 1.7

In [20]:
print('    3.2 Estadísticas Votes:')
print('      Media:', int(np.mean(df['Votes'])))
print('      Mediana:', int(np.median(df['Votes'])))
print('      Min:', int(np.min(df['Votes'])))
print('      Max:', int(np.max(df['Votes'])))
print('      Rango:', int(np.ptp(df['Votes'])))

    3.2 Estadísticas Votes:
      Media: 318692
      Mediana: 154110
      Min: 25813
      Max: 2777378
      Rango: 2751565

In [14]:
# 4. Filtrado y agrupación
df['Decade'] = (df['Year of Release'] // 10) * 10
print('  4.1 Cantidad de películas por década:')
print(df['Decade'].value_counts().sort_index(), '\n')

print('  4.2 Calificación promedio por década:')
print(df.groupby('Decade')['Movie Rating'].mean().round(2), '\n')

print('  4.3 Top 10 películas mejor valoradas:')
top_10 = df.sort_values('Movie Rating', ascending=False).head(10)
print(top_10[['Movie Name', 'Year of Release', 'Movie Rating']], '\n')

  4.1 Cantidad de películas por década:
Decade
1920.0     11
1930.0     25
1940.0     39
1950.0     61
1960.0     71
1970.0     68
1980.0     87
1990.0    139
2000.0    212
2010.0    212
2020.0     40
Name: count, dtype: int64

  4.2 Calificación promedio por década:
Decade
1920.0    8.11
1930.0    7.94
1940.0    8.01
1950.0    8.05
1960.0    7.99
1970.0    8.00
1980.0    7.97
1990.0    7.99
2000.0    7.92
2010.0    7.94
2020.0    8.13
Name: Movie Rating, dtype: float64

  4.3 Top 10 películas mejor valoradas:
                                      Movie Name  Year of Release  \
0                       The Shawshank Redemption           1994.0
1                                  The Godfather           1972.0
2                                The Dark Knight           2008.0
3                               Schindler's List           1993.0
4                                   12 Angry Men           1957.0
5  The Lord of the Rings: The Return of the King           2003.0
6                          The Godfather Part II           1974.0
7            Spider-Man: Across the Spider-Verse           2023.0
8                                   Pulp Fiction           1994.0
9                                      Inception           2010.0

   Movie Rating
0           9.3
1           9.2
2           9.0
3           9.0
4           9.0
5           9.0
6           9.0
7           8.9
8           8.9
9           8.8