In [32]:
import pandas as pd
raw_csv_data = pd.read_csv("Absenteeism-data.csv")
df = raw_csv_data.copy()

In [33]:
df = raw_csv_data.copy()
df = df.drop(['ID'], axis = 1)

In [34]:


reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=False)
df = df.drop(['Reason for Absence'], axis=1)
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:28].max(axis=1)
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis=1)

In [35]:
# Renombrar columnas
df.columns = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
              'Daily Work Load Average', 'Body Mass Index', 'Education',
              'Children', 'Pets', 'Absenteeism Time in Hours',
              'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [36]:

column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
                          'Date', 'Transportation Expense', 'Distance to Work', 'Age',
                          'Daily Work Load Average', 'Body Mass Index', 'Education',
                          'Children', 'Pets', 'Absenteeism Time in Hours']
df = df[column_names_reordered]

df_reason_mod = df.copy()

In [37]:

df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format='%d/%m/%Y')
df_reason_mod['Month Value'] = df_reason_mod['Date'].apply(lambda x: x.month)
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(lambda x: x.weekday())

# Eliminar
df_reason_mod = df_reason_mod.drop(['Date'], axis=1)

column_names_upd = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
                    'Month Value', 'Day of the Week',
                    'Transportation Expense', 'Distance to Work', 'Age',
                    'Daily Work Load Average', 'Body Mass Index', 'Education',
                    'Children', 'Pets', 'Absenteeism Time in Hours']

df_reason_mod = df_reason_mod[column_names_upd]

In [38]:
df_reason_mod['Education'] = df_reason_mod['Education'].map({0: 1, 1: 0, 2: 0, 3: 0, 4: 0})
df_cleaned = df_reason_mod.copy()
df_cleaned.head(10)

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0
2,False,False,False,True,7,2,179,51,38,239.554,31,0,0,0,2
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0,4
4,False,False,False,True,7,3,289,36,33,239.554,30,0,2,1,2
5,False,False,False,True,7,4,179,51,38,239.554,31,0,0,0,2
6,False,False,False,True,7,4,361,52,28,239.554,27,0,1,4,8
7,False,False,False,True,7,4,260,50,36,239.554,23,0,4,0,4
8,False,False,True,False,7,0,155,12,34,239.554,25,0,2,0,40
9,False,False,False,True,7,0,235,11,37,239.554,29,0,1,1,8